.Hero {
    background-color: red;
    background-image: url('../media/pexels-christina-morillo-1181738.jpg');
    /* font-family: 'Niconne', cursive; */
}

.section {
    margin-top: 0.5rem;
    margin-bottom: 0.5rem;
}

* {
    font-family: 'Dosis', sans-serif;
}

/* purgecss start ignore */
@tailwind base;
@tailwind components;
article a {
    color: rgb(49, 49, 182);
    text-decoration: underline;
}
/* purgecss end ignore */
@tailwind utilities;
